<launch>
    <node 
        name="Configer"
        pkg="rqt_reconfigure"
        type="rqt_reconfigure"
        output="screen"
    />
    <node 
        name="ground_removal" 
        pkg="seg_rslidar"
        type="ground_removal"
        output="screen"
        ns="seg_rslidar"
    />
    <node 
        name="cluster" 
        pkg="seg_rslidar"
        type="cluster"
        output="screen"
        ns="seg_rslidar"
    >
    </node>
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find seg_rslidar)/rviz/rviz.rviz" />
</launch>